Repository bespoyasov/www: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier, npx eslint, stylelint

Remove flags from `Footer`
  src/ui/components/Footer/Footer.tsx
Due: npx prettier, npx eslint

Fix typo: skared-kernvel -> shared-kernel
  storage/ru/notes/declarative-rule-based-validation.mdx
Due: npx prettier

Fix a typo in the post on declarative validation
  storage/en/notes/declarative-rule-based-validation.mdx
Due: npx prettier

Add YouTube links to the “HTML & CSS Workshop” talk
  storage/en/talks/html-css-workshop.mdx
Due: npx prettier

Update minor and patch dependencies
  package-lock.json
Due: none

Upgrade `jest` and related packages
  package-lock.json
  package.json
Due: none

Upgrade `checkout` and `setup-node` actions
  .github/workflows/publish-me.yml
  .github/workflows/publish-ru.yml
Due: none

Update the `cache` action [skip ci]
  .github/workflows/publish-me.yml
  .github/workflows/publish-ru.yml
Due: none

Update link to the author employer's site
  src/core/author/const.ts
Due: npx prettier, npx eslint

Refresh lock-file
  package-lock.json
Due: none

Remove the `favorite` tag from some projects
  storage/en/projects/doka.mdx
  storage/en/projects/front-not-pain.mdx
  storage/en/projects/solid.mdx
  storage/en/projects/ttt-tdd.mdx
Due: npx prettier

Add the “Refactor Like a Superhero” project
  public/images/content/refactor-like-a-superhero/en/cover.avif
  public/images/content/refactor-like-a-superhero/en/cover.png
  public/images/content/refactor-like-a-superhero/en/cover.webp
  public/images/content/refactor-like-a-superhero/ru/cover.avif
  public/images/content/refactor-like-a-superhero/ru/cover.png
  public/images/content/refactor-like-a-superhero/ru/cover.webp
  storage/en/projects/refactor-like-a-superhero.mdx
  storage/ru/projects/refactor-like-a-superhero.mdx
Due: npx prettier

Add an announcement for the book in the blog
  storage/en/notes/refactor-like-a-superhero.mdx
  storage/ru/notes/refactor-like-a-superhero.mdx
Due: npx prettier

Mention the book in the refactoring talk
  storage/en/talks/refactor-like-a-superhero.mdx
  storage/ru/talks/refactor-like-a-superhero.mdx
Due: npx prettier

Sync links to the TDD talk and the TDD book
  storage/en/notes/tdd-what-how-and-why.mdx
  storage/ru/notes/tdd-what-how-and-why.mdx
Due: npx prettier

Correct publish time for refactoring book project
  storage/en/notes/refactor-like-a-superhero.mdx
  storage/en/projects/refactor-like-a-superhero.mdx
  storage/ru/notes/refactor-like-a-superhero.mdx
  storage/ru/projects/refactor-like-a-superhero.mdx
Due: npx prettier

Fix artifacts of automatic translation
  storage/en/notes/text-generation-with-markov-chains.mdx
Due: npx prettier

Translate missed image captions
  storage/en/notes/text-generation-with-markov-chains.mdx
Due: npx prettier

Add the “Book” tag to “Refactor Like a Superhero”
  storage/en/notes/refactor-like-a-superhero.mdx
  storage/en/projects/refactor-like-a-superhero.mdx
  storage/ru/notes/refactor-like-a-superhero.mdx
  storage/ru/projects/refactor-like-a-superhero.mdx
Due: npx prettier

Improve punctuation in the video captions
  storage/en/talks/html-css-workshop.mdx
Due: npx prettier

Add Eng subtitles to the TDD talk
  storage/en/talks/tdd-what-how-and-why.mdx
Due: npx prettier

Add the “Books” tag to other projects
  storage/ru/projects/front-not-pain.mdx
  storage/ru/projects/ttt-tdd.mdx
Due: npx prettier

Redirect to Doka's GitHub page [skip ci]
  storage/en/projects/doka.mdx
Due: npx prettier

Keep tag context in section description [skip ci]
  src/ui/views/Tag/Tag.tsx
  src/ui/views/Tag/translations.json
Due: npx prettier, npx eslint

Use 4 columns on the “Tags” page [skip ci]
  src/ui/components/TagCatalogue/TagCatalogue.module.css
  src/ui/components/TagCatalogue/TagCatalogue.tsx
Due: npx prettier, npx eslint, stylelint

Use a less provocative cover for the refactoring book
  public/images/content/refactor-like-a-superhero/cover.avif
  public/images/content/refactor-like-a-superhero/cover.png
  public/images/content/refactor-like-a-superhero/cover.webp
  public/images/content/refactor-like-a-superhero/en/cover.avif
  public/images/content/refactor-like-a-superhero/en/cover.png
  public/images/content/refactor-like-a-superhero/en/cover.webp
  public/images/content/refactor-like-a-superhero/ru/cover.avif
  public/images/content/refactor-like-a-superhero/ru/cover.png
  public/images/content/refactor-like-a-superhero/ru/cover.webp
  storage/en/projects/refactor-like-a-superhero.mdx
  storage/ru/projects/refactor-like-a-superhero.mdx
Due: npx prettier

Add non-braking spaces to the book title
  storage/ru/projects/refactor-like-a-superhero.mdx
Due: npx prettier

Update the books cover in announcement posts
  storage/en/notes/refactor-like-a-superhero.mdx
  storage/ru/notes/refactor-like-a-superhero.mdx
Due: npx prettier

Refresh dependencies
  package-lock.json
Due: none

Upgrade `rehype-highlight`
  package-lock.json
  package.json
  src/configs/serialization.ts
Due: npx prettier, npx eslint

Upgrade `stylelint-config-standard` [skip ci]
  package-lock.json
  package.json
Due: none

Refresh actions [skip ci]
  .github/workflows/publish-me.yml
Due: none

Fix typo in Clean Architecture blog article
  storage/en/notes/clean-architecture-on-frontend.mdx
Due: npx prettier

Make the text calmer
  storage/ru/notes/fix-your-daily-routine.mdx
Due: npx prettier

Refer to the book's web UI
  storage/en/projects/refactor-like-a-superhero.mdx
  storage/ru/projects/refactor-like-a-superhero.mdx
Due: npx prettier

Announce the web UI for the refactoring book
  storage/en/notes/refactor-like-a-superhero-ui.mdx
  storage/ru/notes/refactor-like-a-superhero-ui.mdx
Due: npx prettier

Refresh packages
  package-lock.json
Due: none

Upgrade Next [skip ci]
  package-lock.json
  package.json
Due: none

Apply codemode and override `Link`s [skip ci]
  src/ui/components/Adjacent/Neighbor.tsx
  src/ui/components/LinkIf/LinkIf.tsx
  src/ui/components/LinkProxy/LinkProxy.tsx
  src/ui/components/Nav/Nav.tsx
  src/ui/components/Notes/List/List.tsx
  src/ui/components/Preview/Preview.tsx
  src/ui/components/TagLink/TagLink.tsx
  src/ui/components/Talk/Talk.tsx
  src/ui/components/Trip/Trip.tsx
Due: npx prettier, npx eslint

Path conditions:
  npx prettier: any of: *.{mdx,css,ts,tsx}
  npx eslint: any of: *.{ts,tsx}
  stylelint: any of: *.css
