Repository bespoyasov/www: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, npm run lint:style

.lintstagedrc:

{
  "*.{css,ts,tsx}": [
    "npm run format"
  ],
  "*.{ts,tsx}": [
    "npm run lint:fix"
  ],
  "*.css": [
    "npm run lint:style"
  ]
}

Migrate to using `code` instead of `inlineCode` since the latter was removed
  src/ui/components/Post/substitutes.ts
Due: npm run format, npm run lint:fix

Prevent inline styles interference with code block styles
  src/ui/components/InlineCode/InlineCode.tsx
Due: npm run format, npm run lint:fix

Rename `InlineCode` component to `Code`
  src/ui/components/InlineCode/InlineCode.tsx
  src/ui/components/Post/substitutes.ts
Due: npm run format, npm run lint:fix

Use commands without arguments for staged files for `lint-staged` to append the list of staged files
  .lintstagedrc
Due: none

Remove unused npm scripts
  package.json
Due: none

Make the hooks refresh script name more generic
  package.json
Due: none

Remove unnecessary `package.json` fields
  package.json
Due: none

Simplify the `repository` field value
  package.json
Due: none

Add the `author` field
  package.json
Due: none

Add details to the `description` field
  package.json
Due: none

Sync package name with the repo name
  package.json
Due: none

Allow different case patterns for class names in styles
  .stylelintrc
Due: none

Fix style linter runner command
  .lintstagedrc
Due: none

Simplify the list of commands to run on staged files
  .lintstagedrc
Due: none

Format staged `.mdx` files, too
  .lintstagedrc
Due: none

Add details about rendering differences for the `code` element
  src/ui/components/InlineCode/InlineCode.module.css
  src/ui/components/InlineCode/InlineCode.tsx
Due: npm run format, npm run lint:fix, npm run lint:style

Sync file names with the component name
  src/ui/components/InlineCode/Code.module.css
  src/ui/components/InlineCode/Code.tsx
  src/ui/components/InlineCode/index.ts
Due: npm run format, npm run lint:fix, npm run lint:style

Sync component directory name
  src/ui/components/Code/Code.module.css
  src/ui/components/Code/Code.tsx
  src/ui/components/Code/index.ts
  src/ui/components/Post/substitutes.ts
Due: npm run format, npm run lint:fix, npm run lint:style

Group imports by component type and sort them and substitute keys alphabetically
  src/ui/components/Post/substitutes.ts
Due: npm run format, npm run lint:fix

Refresh minor and patch packages
  package-lock.json
Due: none

Upgrade React and React DOM
  package-lock.json
  package.json
Due: none

Upgrade `jest` and `ts-jest`
  package-lock.json
  package.json
Due: none

Upgrade `@types/react` and `@types/jest`
  package-lock.json
  package.json
Due: none

Prepare file to contain stubs for serialization dependencies
  jest.config.json
  src/shared/testing/stubs/serialization.ts
Due: npm run format, npm run lint:fix

Extend serialization stub with module dependencies
  src/shared/testing/stubs/serialization.ts
Due: npm run format, npm run lint:fix

Refer to serialization stub when importing `next-mdx-remote/serialize` in tests
  jest.config.json
Due: none

Add `simple-git-hooks` package
  package-lock.json
  package.json
Due: none

Set up configuration for git hooks
  .simple-git-hooks.json
Due: none

Add a script for activating and refreshing hooks
  package.json
Due: none

Remove `husky` [skip ci]
  .huskyrc
  package-lock.json
  package.json
Due: none

Ignore build directories when formatting and linting
  .eslintignore
  .prettierignore
Due: none

Split operation on staged files by the extension
  .lintstagedrc
Due: none

Refresh git hooks configuration after project installation
  package.json
Due: none

Remove unused scripts [skip ci]
  package.json
Due: none
