Repository bespoyasov/www: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier, npx eslint, stylelint

fix mistake: domain-modelling-made-function-p-2
  storage/ru/notes/domain-modelling-made-functional-2.mdx
Due: npx prettier

fix mistake: error-handling-async-await.mdx
  storage/ru/notes/error-handling-async-await.mdx
Due: npx prettier

Fix a typo: “technic” -> “technique”
  public/images/content/jedi-techniques/cover.avif
  public/images/content/jedi-techniques/cover.jpg
  public/images/content/jedi-techniques/cover.webp
  public/images/content/jedi-techniques/tim-urban-procrastination.avif
  public/images/content/jedi-techniques/tim-urban-procrastination.png
  public/images/content/jedi-techniques/tim-urban-procrastination.webp
  storage/en/notes/do-not-push-automate-instead.mdx
  storage/en/notes/domain-modelling-made-functional-2.mdx
  storage/en/notes/jedi-techniques.mdx
  storage/en/notes/mark-as-read-now.mdx
  storage/en/notes/willpower-doesnt-work.mdx
  storage/en/talks/refactor-like-a-superhero.mdx
  storage/ru/notes/do-not-push-automate-instead.mdx
  storage/ru/notes/jedi-techniques.mdx
  storage/ru/notes/mark-as-read-now.mdx
  storage/ru/notes/willpower-doesnt-work.mdx
Due: npx prettier

Refresh dependencies
  package-lock.json
Due: none

Temporarily hardcode config `development` value [skip ci]
  src/configs/serialization.ts
Due: npx prettier, npx eslint

Add video to the testing React app talk [skip ci]
  storage/en/talks/testing-workshop.mdx
Due: npx prettier

Upgrade packages [skip ci]
  package-lock.json
  package.json
Due: none

Revert hardcoded `development` flag [skip ci]
  src/configs/serialization.ts
Due: npx prettier, npx eslint

Refresh actions [skip ci]
  .github/workflows/publish-me.yml
Due: none

Unpublish one of the summaries
  public/images/content/rules-for-work-communication/ru/when-to-email.avif
  public/images/content/rules-for-work-communication/ru/when-to-email.jpg
  public/images/content/rules-for-work-communication/ru/when-to-email.webp
  storage/en/notes/rules-of-work-communication.mdx
  storage/ru/notes/rules-of-work-communication.mdx
Due: npx prettier

Refresh minor and patch packages
  package-lock.json
Due: none

Upgrade `stylelint-config-standard`
  package-lock.json
  package.json
Due: none

Remove deprecated rules
  .stylelintrc
Due: none

Upgrade `typescript` [skip ci]
  package-lock.json
  package.json
Due: none

Stub away `MDXRemote` props
  src/ui/components/Post/Post.tsx
  src/ui/components/Post/settings.ts
Due: npx prettier, npx eslint

Refresh GitHub actions [skip ci]
  .github/workflows/publish-me.yml
Due: none

Refresh dependencies
  package-lock.json
  package.json
Due: none

Turn off `media-feature-range-notation` [skip ci]
  .stylelintrc
Due: none

Publish an intro to the “Explicit Design” series
  public/images/content/explicit-design-series/00-app.avif
  public/images/content/explicit-design-series/00-app.png
  public/images/content/explicit-design-series/00-app.webp
  storage/en/notes/explicit-design-series.mdx
  storage/ru/notes/explicit-design-series.mdx
Due: npx prettier

Downgrade FRP Deploy Action
  .github/workflows/publish-me.yml
Due: none

Trigger re-publish
  storage/en/notes/explicit-design-series.mdx
Due: npx prettier

Archive mentoring activities
  src/ui/components/About/translations.json
Due: none

Publish “Explicit Design. Part 1”
  public/images/content/explicit-design-series/01-app-and-world.avif
  public/images/content/explicit-design-series/01-app-and-world.png
  public/images/content/explicit-design-series/01-app-and-world.webp
  public/images/content/explicit-design-series/01-calculate-quote.avif
  public/images/content/explicit-design-series/01-calculate-quote.png
  public/images/content/explicit-design-series/01-calculate-quote.webp
  public/images/content/explicit-design-series/01-lookup-rate.avif
  public/images/content/explicit-design-series/01-lookup-rate.png
  public/images/content/explicit-design-series/01-lookup-rate.webp
  public/images/content/explicit-design-series/01-normalize-base-value.avif
  public/images/content/explicit-design-series/01-normalize-base-value.png
  public/images/content/explicit-design-series/01-normalize-base-value.webp
  public/images/content/explicit-design-series/01-referential-transparency.avif
  public/images/content/explicit-design-series/01-referential-transparency.png
  public/images/content/explicit-design-series/01-referential-transparency.webp
  storage/en/notes/explicit-design-1.mdx
  storage/en/notes/explicit-design-series.mdx
  storage/ru/notes/explicit-design-1.mdx
  storage/ru/notes/explicit-design-series.mdx
Due: npx prettier

Fix media preview description
  storage/en/notes/explicit-design-1.mdx
Due: npx prettier

Publish “Explicit Design” part 2
  public/images/content/explicit-design-series/02-app-ports.avif
  public/images/content/explicit-design-series/02-app-ports.png
  public/images/content/explicit-design-series/02-app-ports.webp
  public/images/content/explicit-design-series/02-dependency-direction.avif
  public/images/content/explicit-design-series/02-dependency-direction.png
  public/images/content/explicit-design-series/02-dependency-direction.webp
  public/images/content/explicit-design-series/02-fractal-architecture.avif
  public/images/content/explicit-design-series/02-fractal-architecture.png
  public/images/content/explicit-design-series/02-fractal-architecture.webp
  public/images/content/explicit-design-series/02-impureim.avif
  public/images/content/explicit-design-series/02-impureim.png
  public/images/content/explicit-design-series/02-impureim.webp
  storage/en/notes/explicit-design-1.mdx
  storage/en/notes/explicit-design-2.mdx
  storage/en/notes/explicit-design-series.mdx
  storage/ru/notes/explicit-design-1.mdx
  storage/ru/notes/explicit-design-2.mdx
  storage/ru/notes/explicit-design-series.mdx
Due: npx prettier

Add more intro context to the continuation posts
  storage/en/notes/explicit-design-1.mdx
  storage/en/notes/explicit-design-2.mdx
  storage/ru/notes/explicit-design-1.mdx
  storage/ru/notes/explicit-design-2.mdx
Due: npx prettier

Publish part 3
  public/images/content/explicit-design-series/03-base-value-input.avif
  public/images/content/explicit-design-series/03-base-value-input.png
  public/images/content/explicit-design-series/03-base-value-input.webp
  public/images/content/explicit-design-series/03-converter.avif
  public/images/content/explicit-design-series/03-converter.png
  public/images/content/explicit-design-series/03-converter.webp
  public/images/content/explicit-design-series/03-handles-and-slots.avif
  public/images/content/explicit-design-series/03-handles-and-slots.png
  public/images/content/explicit-design-series/03-handles-and-slots.webp
  public/images/content/explicit-design-series/03-presentational-components-and-containers.avif
  public/images/content/explicit-design-series/03-presentational-components-and-containers.png
  public/images/content/explicit-design-series/03-presentational-components-and-containers.webp
  public/images/content/explicit-design-series/03-state-model.avif
  public/images/content/explicit-design-series/03-state-model.png
  public/images/content/explicit-design-series/03-state-model.webp
  public/images/content/explicit-design-series/03-ui-border.avif
  public/images/content/explicit-design-series/03-ui-border.png
  public/images/content/explicit-design-series/03-ui-border.webp
  public/images/content/explicit-design-series/03-ui-variants.avif
  public/images/content/explicit-design-series/03-ui-variants.png
  public/images/content/explicit-design-series/03-ui-variants.webp
  storage/en/notes/explicit-design-1.mdx
  storage/en/notes/explicit-design-2.mdx
  storage/en/notes/explicit-design-3.mdx
  storage/en/notes/explicit-design-series.mdx
  storage/ru/notes/explicit-design-1.mdx
  storage/ru/notes/explicit-design-2.mdx
  storage/ru/notes/explicit-design-3.mdx
  storage/ru/notes/explicit-design-series.mdx
Due: npx prettier

Proofread the post text
  storage/en/notes/explicit-design-3.mdx
Due: npx prettier

Add more links to resources
  storage/en/notes/explicit-design-3.mdx
  storage/ru/notes/explicit-design-3.mdx
Due: npx prettier

Refer to source code of specific steps in the repo
  storage/en/notes/explicit-design-1.mdx
  storage/en/notes/explicit-design-2.mdx
  storage/en/notes/explicit-design-3.mdx
  storage/ru/notes/explicit-design-1.mdx
  storage/ru/notes/explicit-design-2.mdx
  storage/ru/notes/explicit-design-3.mdx
Due: npx prettier

Publish part 4
  public/images/content/explicit-design-series/04-low-coupling.avif
  public/images/content/explicit-design-series/04-low-coupling.png
  public/images/content/explicit-design-series/04-low-coupling.webp
  public/images/content/explicit-design-series/04-services-and-adapters.avif
  public/images/content/explicit-design-series/04-services-and-adapters.png
  public/images/content/explicit-design-series/04-services-and-adapters.webp
  public/images/content/explicit-design-series/04-short-circuit.avif
  public/images/content/explicit-design-series/04-short-circuit.png
  public/images/content/explicit-design-series/04-short-circuit.webp
  storage/en/notes/explicit-design-1.mdx
  storage/en/notes/explicit-design-2.mdx
  storage/en/notes/explicit-design-3.mdx
  storage/en/notes/explicit-design-4.mdx
  storage/en/notes/explicit-design-series.mdx
  storage/ru/notes/explicit-design-1.mdx
  storage/ru/notes/explicit-design-2.mdx
  storage/ru/notes/explicit-design-3.mdx
  storage/ru/notes/explicit-design-4.mdx
  storage/ru/notes/explicit-design-series.mdx
Due: npx prettier

fix: correct mistakes in explicit-design-series.mdx
  storage/ru/notes/explicit-design-series.mdx
Due: npx prettier

fix: explicit design 1 TDD example
  storage/en/notes/explicit-design-1.mdx
  storage/ru/notes/explicit-design-1.mdx
Due: npx prettier

fix: blog repo link in explicit design intro
  storage/en/notes/explicit-design-series.mdx
Due: npx prettier

Path conditions:
  npx prettier: any of: *.{mdx,css,ts,tsx}
  npx eslint: any of: *.{ts,tsx}
  stylelint: any of: *.css
