Repository bespoyasov/www: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier, npx eslint, stylelint

Ignore build directories when formatting and linting
  .eslintignore
  .prettierignore
Due: none

Split operation on staged files by the extension
  .lintstagedrc
Due: none

Sync package name with the repo name
  package.json
Due: none

Add details to the project description
  package.json
Due: none

Simplify information about project repository
  package.json
Due: none

Append the `author` field to `package.json`
  package.json
Due: none

Refresh lock-file
  package-lock.json
Due: none

Refresh minor and patch dependencies
  package-lock.json
Due: none

Fix postinstall hooks refresh script
  package.json
Due: none

Upgrade `lint-staged`
  package-lock.json
  package.json
Due: none

Add a combined code quality check
  package.json
Due: none

Sync media styles in the `YouTube` component with those of `Picture` [skip ci]
  src/ui/components/YouTube/YouTube.module.css
Due: npx prettier, stylelint

Use GFM tables for in the content [skip ci]
  storage/en/notes/binary-adder-in-the-game-of-life-2.mdx
  storage/en/notes/binary-adder-in-the-game-of-life-3.mdx
  storage/en/notes/code-the-hidden-language-of-computer-hardware-and-software-2.mdx
  storage/en/notes/code-the-hidden-language-of-computer-hardware-and-software.mdx
  storage/en/notes/you-might-not-need-redux-now.mdx
  storage/ru/notes/binary-adder-in-the-game-of-life-2.mdx
  storage/ru/notes/binary-adder-in-the-game-of-life-3.mdx
  storage/ru/notes/code-the-hidden-language-of-computer-hardware-and-software-2.mdx
  storage/ru/notes/code-the-hidden-language-of-computer-hardware-and-software.mdx
  storage/ru/notes/you-might-not-need-redux-now.mdx
Due: npx prettier

Create a `nextRender` util for running effects on next render
  src/shared/utils/nextRender/index.ts
Due: npx prettier, npx eslint

Create a `useScrollRestore` hook for handling scroll restoration on code sample change
  src/ui/components/Switch/useScrollRestore.ts
Due: npx prettier, npx eslint

Use scroll restoration on control click
  src/ui/components/Switch/Control.tsx
Due: npx prettier, npx eslint

Stop relying on unnecessary ID anymore
  src/ui/components/Switch/Control.tsx
  src/ui/components/Switch/Controls.tsx
  src/ui/components/Switch/Switch.tsx
  src/ui/components/Switch/types.ts
Due: npx prettier, npx eslint

Remove `useHashUpdate` as it is not used anymore
  src/ui/effects/useHashUpdate/index.ts
  src/ui/effects/useHashUpdate/types.ts
Due: npx prettier, npx eslint

Get rid of unnecessary IDs in the content [skip ci]
  storage/en/notes/domain-modelling-made-functional-2.mdx
  storage/en/notes/domain-modelling-made-functional-3.mdx
  storage/en/notes/text-generation-with-markov-chains.mdx
  storage/ru/notes/domain-modelling-made-functional-2.mdx
  storage/ru/notes/domain-modelling-made-functional-3.mdx
  storage/ru/notes/text-generation-with-markov-chains.mdx
Due: npx prettier

Upgrade `next-mdx-remote`
  package-lock.json
  package.json
Due: none

Add `remark-gfm` package
  package-lock.json
  package.json
Due: none

Regsiter the GitHub Flavoured Markdown plugin for serialization configs
  src/configs/serialization.ts
Due: npx prettier, npx eslint

Migrate to using `code` instead of `inlineCode`
  src/ui/components/Post/substitutes.ts
Due: npx prettier, npx eslint

Rename component directory
  src/ui/components/Code/InlineCode.module.css
  src/ui/components/Code/InlineCode.tsx
  src/ui/components/Code/index.ts
  src/ui/components/Post/substitutes.ts
Due: npx prettier, npx eslint, stylelint

Rename `InclineCode` component to `Code`
  src/ui/components/Code/InlineCode.tsx
  src/ui/components/Post/substitutes.ts
Due: npx prettier, npx eslint

Sync component file name with its name
  src/ui/components/Code/Code.module.css
  src/ui/components/Code/Code.tsx
  src/ui/components/Code/index.ts
Due: npx prettier, npx eslint, stylelint

Prefer custom external styles over the default ones
  src/ui/components/Code/Code.tsx
Due: npx prettier, npx eslint

Apply default `code` styles only to inline code elements
  src/ui/components/Code/Code.module.css
Due: npx prettier, stylelint

Register `SideNote` and `Highlight` as separate components
  src/ui/components/Post/substitutes.ts
Due: npx prettier, npx eslint

Group substitution imports by their “type”
  src/ui/components/Post/substitutes.ts
Due: npx prettier, npx eslint

Path conditions:
  npx prettier: any of: *.{mdx,css,ts,tsx}
  npx eslint: any of: *.{ts,tsx}
  stylelint: any of: *.css
