Repository bespoyasov/www: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier, npx eslint, stylelint

.lintstagedrc:

{
  "*.{mdx,css,ts,tsx}": "npx prettier",
  "*.{ts,tsx}": "npx eslint",
  "*.css": "stylelint"
}

Replace HTML built-in `aside` with custom `SideNote`
  storage/en/notes/anxiety-free.mdx
  storage/en/notes/clean-architecture-2.mdx
  storage/en/notes/clean-architecture.mdx
  storage/en/notes/clean-code-2.mdx
  storage/en/notes/clean-code-3.mdx
  storage/en/notes/clean-code.mdx
  storage/en/notes/declarative-rule-based-validation.mdx
  storage/en/notes/deep-survival.mdx
  storage/en/notes/domain-modelling-made-functional-2.mdx
  storage/en/notes/domain-modelling-made-functional-3.mdx
  storage/en/notes/domain-modelling-made-functional.mdx
  storage/en/notes/driven-to-distraction.mdx
  storage/en/notes/how-the-body-knows-its-mind.mdx
  storage/en/notes/influence.mdx
  storage/en/notes/jedi-technics.mdx
  storage/en/notes/no-more-mr-nice-guy.mdx
  storage/en/notes/sapiens.mdx
  storage/en/notes/text-generation-with-markov-chains.mdx
  storage/en/notes/the-art-of-readable-code.mdx
  storage/en/notes/the-subtle-art-of-not-giving-a-fuck.mdx
  storage/en/notes/the-tao-of-physics.mdx
  storage/en/notes/why-we-buy.mdx
  storage/en/notes/willpower-doesnt-work.mdx
  storage/ru/notes/clean-code-2.mdx
  storage/ru/notes/clean-code-3.mdx
  storage/ru/notes/clean-code.mdx
  storage/ru/notes/declarative-rule-based-validation.mdx
  storage/ru/notes/domain-modelling-made-functional-2.mdx
  storage/ru/notes/domain-modelling-made-functional-3.mdx
  storage/ru/notes/domain-modelling-made-functional.mdx
  storage/ru/notes/text-generation-with-markov-chains.mdx
Due: npx prettier

Replace HTML built-in `mark` with custom `Highlight`
  storage/en/notes/architecture-which-sucks.mdx
  storage/en/notes/consistency-vs-correctness.mdx
  storage/en/notes/do-not-push-automate-instead.mdx
  storage/en/notes/efficient-workday-division.mdx
  storage/en/notes/jedi-technics.mdx
  storage/en/notes/my-week-at-jsunderhood.mdx
  storage/en/notes/text-generation-with-markov-chains.mdx
  storage/ru/notes/architecture-which-sucks.mdx
  storage/ru/notes/cheer-on-the-product.mdx
  storage/ru/notes/consistency-vs-correctness.mdx
  storage/ru/notes/do-not-push-automate-instead.mdx
  storage/ru/notes/do-not-push.mdx
  storage/ru/notes/efficient-workday-division.mdx
  storage/ru/notes/generating-trees-on-canvas-using-typescript-and-oop.mdx
  storage/ru/notes/jedi-technics.mdx
  storage/ru/notes/my-week-at-jsunderhood.mdx
  storage/ru/notes/text-generation-with-markov-chains.mdx
  storage/ru/notes/the-most-important-thing-in-self-searching.mdx
  storage/ru/notes/you-underestimate-your-powers.mdx
Due: npx prettier

Prepare file to contain stubs for serialization dependencies
  jest.config.json
  src/shared/testing/stubs/serialization.ts
Due: npx prettier, npx eslint

Extend serialization stub with network module serializer dependencies
  src/shared/testing/stubs/serialization.ts
Due: npx prettier, npx eslint

Refer to registered stub when importing `next-mdx-remote/serialize` in tests
  jest.config.json
Due: none

Make the `Switch` component compatible with the updated `components` prop signature from `MDXRemote` [skip ci]
  src/ui/components/Switch/Switch.tsx
Due: npx prettier, npx eslint

Escape the `<` character in the content
  storage/en/notes/code-the-hidden-language-of-computer-hardware-and-software.mdx
  storage/en/notes/my-week-at-jsunderhood.mdx
  storage/ru/notes/code-the-hidden-language-of-computer-hardware-and-software.mdx
Due: npx prettier

Remove the double closure of `SideNote` [skip ci]
  storage/en/notes/declarative-rule-based-validation.mdx
Due: npx prettier

Remove `@types/mdx-js__react` as it is not used
  package-lock.json
  package.json
Due: none

Refresh lock-file
  package-lock.json
Due: none

Upgrade `react`, `react-dom`, and `@types/react`
  package-lock.json
  package.json
Due: none

Upgrade `jest`, `ts-jest`, and `@types/jest`
  package-lock.json
  package.json
Due: none

Rename component directory
  src/ui/components/Code/InlineCode.module.css
  src/ui/components/Code/InlineCode.tsx
  src/ui/components/Code/index.ts
  src/ui/components/Post/substitutes.ts
Due: npx prettier, npx eslint, stylelint

Prefer custom external styles over the default ones
  src/ui/components/Code/Code.tsx
Due: npx prettier, npx eslint

Rename `InclineCode` component to `Code`
  src/ui/components/Code/InlineCode.tsx
  src/ui/components/Post/substitutes.ts
Due: npx prettier, npx eslint

Upgrade `next-mdx-remote`
  package-lock.json
  package.json
Due: none

Add `remark-gfm` package
  package-lock.json
  package.json
Due: none

Sync component file name with its name
  src/ui/components/Code/Code.module.css
  src/ui/components/Code/Code.tsx
  src/ui/components/Code/index.ts
Due: npx prettier, npx eslint, stylelint

Migrate to using `code` instead of `inlineCode`
  src/ui/components/Post/substitutes.ts
Due: npx prettier, npx eslint

Regsiter the GitHub Flavoured Markdown plugin for serialization configs
  src/configs/serialization.ts
Due: npx prettier, npx eslint

Register `SideNote` and `Highlight` as separate components
  src/ui/components/Post/substitutes.ts
Due: npx prettier, npx eslint

Apply default `code` styles only to inline code elements
  src/ui/components/Code/Code.module.css
Due: npx prettier, stylelint

Group substitution imports by their “type”
  src/ui/components/Post/substitutes.ts
Due: npx prettier, npx eslint

Clean up IDE auto replacement artifacts
  storage/en/notes/declarative-rule-based-validation.mdx
Due: npx prettier

Add a license for the content of the site
  LICENSE-SA.md
Due: none

Specify the content license
  README.md
  package.json
Due: none

Fix authorship
  LICENSE-SA.md
Due: none

Use the full `install` command in exmaples in Readme
  README.md
Due: none
