Repository bespoyasov/www: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier, npx eslint, stylelint

Register a `@services` path alias
  jest.config.json
  tsconfig.json
Due: none

Refer to `persistence` without mentioning its structure
  src/services/network/content/composition.ts
  src/services/network/content/content.ts
  src/services/network/listing.ts
  src/services/network/metadata/composition.ts
  src/services/network/metadata/metadata.ts
Due: npx prettier, npx eslint

Remove the `@persistence` path alias
  jest.config.json
  tsconfig.json
Due: none

Use relative imports inside the `network` module
  src/services/network/composition.ts
  src/services/network/content/composition.ts
  src/services/network/content/content.test.ts
  src/services/network/content/content.ts
  src/services/network/dependencies.ts
  src/services/network/listing.ts
  src/services/network/metadata/composition.ts
  src/services/network/metadata/metadata.test.ts
  src/services/network/metadata/metadata.ts
  src/services/network/ports.ts
Due: npx prettier, npx eslint

Refer to `network` without mentioning its structure
  src/pages/blog/[id].tsx
  src/pages/blog/index.tsx
  src/pages/projects/[id].tsx
  src/pages/projects/index.tsx
  src/pages/rss.tsx
  src/pages/tag/[id].tsx
  src/pages/tag/travel.tsx
  src/pages/talks/[id].tsx
  src/pages/talks/index.tsx
Due: npx prettier, npx eslint

Remove the `@network` path alias
  jest.config.json
  tsconfig.json
Due: none

Improve path alias ordering
  jest.config.json
  tsconfig.json
Due: none

Use relative imports inside `persistence` module
  src/services/persistence/composition.ts
  src/services/persistence/dependencies.ts
  src/services/persistence/listing/composition.ts
  src/services/persistence/listing/listing.test.ts
  src/services/persistence/listing/listing.ts
  src/services/persistence/ports.ts
  src/services/persistence/post/composition.ts
  src/services/persistence/post/post.test.ts
  src/services/persistence/post/post.ts
  src/services/persistence/posts/composition.ts
  src/services/persistence/posts/posts.test.ts
  src/services/persistence/posts/posts.ts
  src/services/persistence/utils/addExtension.ts
  src/services/persistence/utils/composition.ts
  src/services/persistence/utils/directory.test.ts
  src/services/persistence/utils/directory.ts
  src/services/persistence/utils/hasExtension.ts
Due: npx prettier, npx eslint

Update “All Posts” title
  src/ui/views/Blog/translations.json
Due: none

Update “About” text a bit
  src/ui/components/About/translations.json
Due: none

Update support button label
  src/ui/components/Feedback/translations.json
Due: none

Add a link to the GitHub repo
  src/ui/components/Feedback/const.ts
Due: npx prettier, npx eslint

Consider giving a star on GitHub as a feedback option
  src/ui/components/Feedback/createActionList.ts
  src/ui/components/Feedback/translations.json
Due: npx prettier, npx eslint

Stop rendering emojis in support options
  src/ui/components/SupportOptions/SupportOptions.tsx
Due: npx prettier, npx eslint

Remove emoji from the support option type
  src/ui/components/SupportOptions/options.ts
  src/ui/components/SupportOptions/types.ts
Due: npx prettier, npx eslint

Consider following on GitHub a support option
  src/ui/components/SupportOptions/options.ts
  src/ui/components/SupportOptions/translations.json
Due: npx prettier, npx eslint

Refresh minor and patch packages
  package-lock.json
Due: none

Upgrade major versions of dependencies
  package-lock.json
  package.json
Due: none

Improve example and description in the post about missing abstractions
  storage/en/notes/missing-abstraction.mdx
  storage/ru/notes/missing-abstraction.mdx
Due: npx prettier

Replace `useMount` with a `useEffect` call in the `Redirect` component
  src/ui/components/Redirect/Redirect.tsx
Due: npx prettier, npx eslint

Make `useMounted` rely on the internal state
  src/ui/effects/useMounted/index.ts
Due: npx prettier, npx eslint

Remove the obsolete `useMount` hook
  src/ui/effects/useMount/index.ts
Due: npx prettier, npx eslint

Update Prokrutchik project redirect link
  storage/ru/projects/prokrutchik.mdx
Due: npx prettier

Enrich redirected projects with fallback content
  storage/en/projects/doka.mdx
  storage/en/projects/front-not-pain.mdx
  storage/en/projects/fullstack-react-typescript.mdx
  storage/en/projects/prokrutchik.mdx
  storage/en/projects/ttt-tdd.mdx
  storage/en/projects/tzlvt.mdx
  storage/ru/projects/doka.mdx
  storage/ru/projects/front-not-pain.mdx
  storage/ru/projects/fullstack-react-typescript.mdx
  storage/ru/projects/prokrutchik.mdx
  storage/ru/projects/solid.mdx
  storage/ru/projects/ttt-tdd.mdx
Due: npx prettier

Add a fallback link to the `Redirect` component
  src/ui/components/Redirect/Redirect.tsx
Due: npx prettier, npx eslint

Enrich use of `Redirect` with the fallback link labels
  storage/en/projects/doka.mdx
  storage/en/projects/front-not-pain.mdx
  storage/en/projects/fullstack-react-typescript.mdx
  storage/en/projects/prokrutchik.mdx
  storage/en/projects/solid.mdx
  storage/en/projects/ttt-tdd.mdx
  storage/en/projects/tzlvt.mdx
  storage/ru/projects/doka.mdx
  storage/ru/projects/front-not-pain.mdx
  storage/ru/projects/fullstack-react-typescript.mdx
  storage/ru/projects/prokrutchik.mdx
  storage/ru/projects/solid.mdx
  storage/ru/projects/ttt-tdd.mdx
Due: npx prettier

Prevent `Redirect` from firing after “back” button
  src/ui/components/Redirect/Redirect.tsx
Due: npx prettier, npx eslint

Add the “Refactor like a superhero” talk
  storage/en/talks/refactor-like-a-superhero.mdx
  storage/ru/talks/refactor-like-a-superhero.mdx
Due: npx prettier

Refresh dependencies [skip ci]
  package-lock.json
Due: none

Reference a particular page in the Doka project
  storage/ru/projects/doka.mdx
Due: npx prettier

Refresh patch and minor packages
  package-lock.json
Due: none

Allow explicit arbitrary type casting
  src/shared/utils/castTo/index.ts
Due: npx prettier, npx eslint

Upgrade `stylelint-config-standard` [skip ci]
  package-lock.json
  package.json
Due: none

Path conditions:
  npx prettier: any of: *.{mdx,css,ts,tsx}
  npx eslint: any of: *.{ts,tsx}
  stylelint: any of: *.css
